#!/usr/bin/make -f

# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

ifeq ($(DEB_BUILD_GNU_TYPE), $(DEB_HOST_GNU_TYPE))
  confflags += --build $(DEB_HOST_GNU_TYPE)
else
  confflags += --build $(DEB_BUILD_GNU_TYPE) --host $(DEB_HOST_GNU_TYPE)
endif

CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif


include /usr/share/dpatch/dpatch.make


config.status: configure
	dh_testdir
	./configure $(confflags) --prefix=/usr --mandir=\$${prefix}/share/man --datadir=/var/www/iptotal --sysconf=/etc

build: build-stamp
build-stamp:  config.status patch-stamp
	dh_testdir
	$(MAKE)
	touch build-stamp

clean: unpatch
	dh_testdir
	dh_testroot
	rm -f build-stamp 

	[ ! -f Makefile ] || $(MAKE) distclean
ifneq "$(wildcard /usr/share/misc/config.sub)" ""
	cp -f /usr/share/misc/config.sub config.sub
endif
ifneq "$(wildcard /usr/share/misc/config.guess)" ""
	cp -f /usr/share/misc/config.guess config.guess
endif
	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_prep 
	dh_installdirs
	$(MAKE) install DESTDIR=$(CURDIR)/debian/iptotal
	mkdir -p $(CURDIR)/debian/iptotal/usr/lib/cgi-bin/iptotal
	mkdir -p $(CURDIR)/debian/iptotal/var/www/iptotal/archive
	mv $(CURDIR)/debian/iptotal/var/www/iptotal/*.cgi $(CURDIR)/debian/iptotal/usr/lib/cgi-bin/iptotal
	for i in $(CURDIR)/debian/iptotal/usr/lib/cgi-bin/iptotal/*.cgi; do chmod +x $$i; done
	chown www-data:www-data $(CURDIR)/debian/iptotal/var/www/iptotal/archive 
	chown -R www-data:www-data $(CURDIR)/debian/iptotal/var/www/iptotal/images
	rm $(CURDIR)/debian/iptotal/var/www/iptotal/*.gif

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs ChangeLog
	dh_installdocs
	dh_installexamples
	dh_install
	dh_installinit
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install 
